# IDEs
.idea/
.vscode/

# Packages
node_modules/
yarn.lock

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock

# Secrets
.env
Security recovery codes _ User settings _ Netlify.pdf

# Intended for local only
WEBSITE_DOCS_AND_HELP.md
*.py
.Rproj.user
