.container_img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    text-align: center;
    margin: 0px;
    width: 110px;
}
.label {
    font-size: 19px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    text-anchor: middle;
    dominant-baseline: hanging;
}